@CHARSET "ISO-8859-1";

body {
    padding: 20px 0;
  	margin-left: 40px;
}
.button {
	text-align: right;
    font-style:oblique;
    color: #004D99;
    font-family: 'Helvetica', Helvetica, sans-serif;
    font-size: 12px;
	display:inline-block;
	min-height: 40px;
	height: 40px;
	min-width: 85px;
	width: 85px;
	padding:5px 10px;   
	
    -webkit-border-radius: 50px;
    border-radius: 25px;
    
    background: url("weather.jpg") no-repeat; /* fallback */
    background: url("weather.jpg"), linear-gradient(90deg, #DBDBDB, #F2F2F2);
    
    border: 1px solid #B3B3B3;
    
    -webkit-box-shadow: inset 0 0 2px 1px white, 0 2px 5px rgba(0,0,0,0.15), inset 0 -17px 0 rgba(0,0,0,0.06);
    box-shadow: inset 0 0 2px 1px white, 0 2px 5px rgba(0,0,0,0.15), inset 0 -17px 0 rgba(0,0,0,0.06);
}
.button.pushed  {
    position: relative;
}
.button:hover {
	background: url("weather.jpg") no-repeat; /* fallback */
    background: url("weather.jpg"), linear-gradient(90deg, #E8E8E8, #F7F7F7);
}
.button.pushed:active {
    top: 2px;    
}
.button:active {
    -webkit-box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.1), inset 0 -17px 0 rgba(0,0,0,0.06);
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.1), inset 0 -17px 0 rgba(0,0,0,0.06);
}